.container{
    /* display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 50px; */
    display:flex;
    flex-wrap: wrap; 
    gap: 10px;
    width: 80%;
    margin: auto;
    padding: 30px;
}